<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ADUser" value="rjsoadmin"/>
		<add key="ADPassword" value="isrjso2"/>
	</appSettings>
	<connectionStrings>
		<add name="conString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|Intranet.mdb" providerName="System.Data.OleDb"/>
		<add name="ADConnection" connectionString="LDAP://DCRJSO1.DS.INDIANOIL.IN/OU=USERS,OU=RJSO,OU=MARKETING,DC=DS,DC=INDIANOIL,DC=IN"/>
		<add name="ADAdminConnection" connectionString="LDAP://DCRJSO1.DS.INDIANOIL.IN/OU=ADMINISTRATORS,OU=RJSO,OU=MARKETING,DC=DS,DC=INDIANOIL,DC=IN"/>
	</connectionStrings>
	<location path="Pages/Department/Common/XcelViewer.aspx" allowOverride="false">
		<system.web>
			<identity impersonate="true" userName="Developer" password="god"/>
		</system.web>
	</location>
	<location path="Admin/ISAdmin.aspx" allowOverride="false">
		<system.web>
			<identity impersonate="true" userName="Developer" password="god"/>
		</system.web>
	</location>
	<location path="Pages/Department/Common/DeptAdmin.aspx" allowOverride="false">
		<system.web>
			<identity impersonate="true" userName="Developer" password="god"/>
		</system.web>
	</location>
	<location path="Gallery/EventsGallery.aspx" allowOverride="false">
		<system.web>
			<identity impersonate="true" userName="Developer" password="god"/>
		</system.web>
	</location>
	<system.web>
		<compilation defaultLanguage="C#" targetFramework="4.0">
			<assemblies>
				<add assembly="GemBox.Spreadsheet, Version=33.1.0.1100, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--To avoid System.Security.SecurityException-->
		<trust level="Full"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--appRequestQueueLimit: No. of reqeuest server may queue & next request result SERVER BUSY. executionTimeout: time for 
        which request can be processed. maxRequestLength: files uploading limit (by default 4MB)-->
		<httpRuntime appRequestQueueLimit="100" executionTimeout="600" maxRequestLength="20480"/>
		<pages buffer="true" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
		<authentication mode="Windows"/>
		<!--IDENTITY IMPERSONATE TRUE SO THAT ACCESS TO RESOURCES IN NETWORK CAN BE GIVEN PERMISSION OTHER THAN REQUESTING CLIENT-->
		<identity impersonate="false"/>
		<customErrors mode="RemoteOnly" defaultRedirect="Error/GenericErrorPage.aspx">
			<error statusCode="404" redirect="~/Error/FileNotFound.aspx"/>
		</customErrors>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<!--MEMBERSHIP PROVIDER FOR VALIDATING USER FROM AD-->
        <membership defaultProvider="ADMembershipProvider">
            <providers>
                <add connectionStringName="ADConnection" attributeMapUsername="sAMAccountName" connectionUsername="rjsoadmin" connectionPassword="isrjso2" connectionProtection="Secure" name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
	</system.web>
</configuration>
